.screen {
    width: 100%;
    height: 75px;
    background-color: #433437;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}