.container {
    display: grid;

    .special {
        width: 100%;
        height: 50px;
        display: grid;
        grid-template-columns: 75% 25%;
        text-align: center;
    }

    .normal {
        width: 100%;
        height: 50px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}