.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k l"
        "m n o p"
        "q q r s";
}

.a {
    grid-area: a;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
    cursor: pointer;
    background-color: #F3274F;
    color: white;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.i {
    grid-area: i;
}

.j {
    grid-area: j;
}

.k {
    grid-area: k;
}

.l {
    grid-area: l;
}

.m {
    grid-area: m;
}

.n {
    grid-area: n;
}

.o {
    grid-area: o;
}

.p {
    grid-area: p;
}

.q {
    grid-area: q;
}

.r {
    grid-area: r;
}

.s {
    grid-area: s;
}