.table {
    display: flex;
    flex-wrap: wrap;

    .number {
        width: 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid purple;
        cursor: pointer;
        font-size: 24px;
    }

    .operator {
        width: 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid purple;
        cursor: pointer;
        background-color: #F3274F;
        color: white;
        font-size: 30px;
    }

    .two-col {
        width: 50%;
    }
}